---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=Pueblo,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 15 Jun 2021 20:14:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pueblo,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1207082694"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1731331556"}]}]}'
  recorded_at: Tue, 15 Jun 2021 20:14:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623788041,"sunrise":1623756875,"sunset":1623810211,"temp":97.48,"feels_like":97.7,"pressure":1012,"humidity":29,"dew_point":59.9,"uvi":11.34,"clouds":1,"visibility":10000,"wind_speed":11.5,"wind_deg":180,"wind_gust":17.27,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623787200,"temp":97.48,"feels_like":97.7,"pressure":1012,"humidity":29,"dew_point":59.9,"uvi":11.34,"clouds":1,"visibility":10000,"wind_speed":7.36,"wind_deg":130,"wind_gust":6.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623790800,"temp":98.37,"feels_like":97.25,"pressure":1011,"humidity":25,"dew_point":56.5,"uvi":9.26,"clouds":1,"visibility":10000,"wind_speed":9.51,"wind_deg":118,"wind_gust":9.26,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623794400,"temp":99.32,"feels_like":96.98,"pressure":1010,"humidity":21,"dew_point":52.52,"uvi":6.17,"clouds":1,"visibility":10000,"wind_speed":15.41,"wind_deg":129,"wind_gust":12.44,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623798000,"temp":99.52,"feels_like":96.19,"pressure":1009,"humidity":18,"dew_point":48.52,"uvi":3.58,"clouds":2,"visibility":10000,"wind_speed":18.05,"wind_deg":123,"wind_gust":10.87,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623801600,"temp":96.4,"feels_like":92.41,"pressure":1009,"humidity":17,"dew_point":44.51,"uvi":1.61,"clouds":3,"visibility":10000,"wind_speed":15.61,"wind_deg":46,"wind_gust":17.18,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.03},{"dt":1623805200,"temp":76.3,"feels_like":75.83,"pressure":1014,"humidity":47,"dew_point":54.19,"uvi":0.08,"clouds":100,"visibility":7630,"wind_speed":29.04,"wind_deg":17,"wind_gust":38.5,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":0.63,"rain":{"1h":1.29}},{"dt":1623808800,"temp":76.01,"feels_like":75.52,"pressure":1015,"humidity":47,"dew_point":53.37,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.5,"wind_deg":204,"wind_gust":23.69,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":0.82,"rain":{"1h":1.48}},{"dt":1623812400,"temp":74.1,"feels_like":73.47,"pressure":1016,"humidity":48,"dew_point":52.68,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":18.01,"wind_deg":260,"wind_gust[...]
