<h1>Sweater Weather</h1>
<p>Thanks for visiting!</p>
<p>For information on available endpoints, click <a href="https://github.com/gaelyn/sweater_weather">here</a> for documentation.</p>
<p>For an example endpoint click <a href="https://sweater-weather-2102.herokuapp.com/api/v1/forecast?location=denver,co">here</a>.</p>
