<h1>Sweater Weather</h1>
<p>Thanks for visiting!</p>
<p>For information on available endpoints, click <a href="https://github.com/gaelyn/sweater_weather" target="_blank">here</a> to see documentation.</p>
<p>You may also click <a href="https://sweater-weather-2102.herokuapp.com/api/v1/forecast?location=denver,co" target="_blank">here</a> for an example endpoint.</p>
