---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0daab168e5ed2306806ddf9f07c03e29&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623518669,"sunrise":1623497489,"sunset":1623551306,"temp":79.86,"feels_like":79.86,"pressure":1013,"humidity":27,"dew_point":42.94,"uvi":8.76,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":263,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623517200,"temp":79.86,"feels_like":79.86,"pressure":1013,"humidity":27,"dew_point":42.94,"uvi":8.76,"clouds":0,"visibility":10000,"wind_speed":4.47,"wind_deg":95,"wind_gust":3.67,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623520800,"temp":80.69,"feels_like":79.23,"pressure":1013,"humidity":24,"dew_point":40.59,"uvi":10.68,"clouds":0,"visibility":10000,"wind_speed":6.53,"wind_deg":85,"wind_gust":6.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623524400,"temp":82.87,"feels_like":80.51,"pressure":1012,"humidity":21,"dew_point":38.98,"uvi":11.45,"clouds":0,"visibility":10000,"wind_speed":7.31,"wind_deg":55,"wind_gust":5.93,"weather":[{"id":800,"main"[...]
